<app-navbar/>

<div id="nosotros" class="section bg-light">
  <div class="container">
    <h2>Nosotros</h2>
    <p>Somos una empresa dedicada a brindar soluciones innovadoras en tecnología...</p>
  </div>
</div>

<div id="servicios" class="section bg-white">
  <div class="container">
    <h2>Servicios</h2>
    <p>Ofrecemos desarrollo web, soporte técnico, y asesoría tecnológica a medida.</p>
  </div>
</div>

<div id="clientes" class="section bg-light">
  <div class="container">
    <h2>Clientes</h2>
    <p>Alguno de nuestros clientes.</p>
  </div>
</div>

<div id="ubicacion" class="section bg-light">
  <div class="container">
    <h2>Ubicación</h2>
    <p>Nos encontramos en Santiago, Chile. Atendemos de lunes a viernes.</p>
  </div>
</div>

<div id="contacto" class="section bg-white">
  <div class="container">
    <div class="card shadow p-4">
      <div class="row">
        <div class="col">
          <h2>Contáctenos</h2>
          <p>Correo: ventas&#64;titeams.cl<br>Teléfono: +56 9 9369 1811</p>
        </div>
        <div class="col">
          <div class="card">
            <h4 class="card-header text-center">Formulario de contacto</h4>
            <div class="card-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+569 1234 5678">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="tualias@tucorreo.cl">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Área</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccione area de contacto...</option>
                  <option value="1">Ventas</option>
                  <option value="2">Soporte</option>
                  <option value="3">Administracion</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer/>
